/*-- scss:defaults --*/

$body-bg: #ffc0cb;
$body-color: #dc143c;
$link-color: #42affa;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}