/*-- scss:defaults --*/

$body-bg: #008b8b;
$body-color: #ffefd5;
$link-color: #42affa;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}